
.nav-menu ul li {
  display: inline-block;
  margin-right: 25px; 
}


.hero-content {
  z-index: 1;
  background-image: url("pexels-fabian-wiktor-994605.jpg"); 
  height: 100%;
  width: 100%;
  background-size: cover; 
  padding-top: 30vh; 
}

/* Button Styling */
.hero-button:hover {
  background-color: #ff6a36; 
}


.section {
  padding: 60px;
  background-color: #d3d3d3;
  flex: 1;
}
.section h2 {
  font-size: 24px;
}


.container {
  display: flex;
  border: 1px solid gray;
  height: 350px;
  border-radius: 10px;
  background-color: rgb(218, 160, 160);
}
.Image {
  flex: 30%; 
}
.Image img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.text {
  flex: 70%;
  margin: 2%;
  margin-left: 3%;
  font-size: 20px;
}

@media (max-width: 767px) {
  footer .col-md-6 {
    margin-bottom: 30px;
  }
}
